header{
  background:#3A3A3A ;
}
body{
  text-align: center;
}
.menu ul{
  margin: 0;
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  font-family:Segoe UI;
  }    
  .menu li a {
    display: block;
    padding: 5px 2px;
    color: aliceblue;
    text-decoration: none;
            } 
  .container{
              display: flex;
              align-items: center;
              justify-content: center;
              background-color: aquamarine;
              }
             .img{
               width: 180px;
               height: 150px;
               max-width: 50%;
               min-width: 40px;
               border-radius: 50%;
               overflow: hidden;
               }
              .container{
              display: flex;
              align-items: center;
              justify-content: center;
              }
           .img2{
               border-radius: 50%;
               overflow: hidden;
             }
             .img3{
               border-radius: 50%;
               overflow: hidden;
             }
             .img4{
               border-radius: 50%;
               overflow: hidden;
             }
body{
  font: normal normal bold Segoe UI;
  color: #707070;
  justify-content: center;
}
.apresentação h1 h3{
  text-align: center;
  display: table;
}
.p{
  display: table-cell;
  margin: ;
}
.formação{
    background:#DEDEDE 0% 0% no-repeat padding-box; 
}
.experiencia{
  background: #434343 0% 0% no-repeat padding-box;;
}
footer{
 background:#000000 0% 0% no-repeat padding-box;
}
table{
  display: inline-table;
}